{% load static %}

<article class="card mb-3 mt-3 h-200" data-question-id="{{question.id}}">
    <div class="row g-0">
      <div class="col-3 p-2">
        <div class="border mb-3 rounded" >
          {% if question.author.image.url %}
            <img src="{{ question.author.image.url }}" class="img-fluid rounded" >
          {% else %}
            <img src="{% static "pic/question_pic_placeholder.jpg" %}" class="img-fluid rounded" >
          {% endif %}
        </div>
        <div class="input-group" style="width: fit-content;">
          <input type="text" class="form-control LikeCount" value="{{question.likes}}" onkeydown="return false;" style="caret-color: transparent;" id="LikeCount">
          <button class="btn btn-outline-secondary LikeButton" type="button" id="button-addon1">Like</button>
        </div>

      </div>
      <div class="col-md-9">
        <div class="card-body">
            
          <h5 class="card-title"> <a href="{% url "question" question.id %}">{{question.title}}</a></h5>
          <p class="card-text">{{question.text}}</p>
          <p class="card-text"><small class="text-body-secondary">Last updated {{question.id}} mins ago</small></p>
        <div class="row">
          <a href="{% url "question" question.id %}" class="col-4"> answers ({{question.id}})</a>
          <div class="col-8">
            
            <span>Tags</span>
            {% for tag in question.tags.all %}
              <a href="{% url "tag" tag.name %}">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
    </div>
</article>