{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<main class="container-lg mt-3">
    <div class = "d-flex gap-3">
        <h1>Log in</h1>
    </div>

    <div class="row gap-4">
        <div class="col-8 mt-2">
            <form method="post" action="">
              {% csrf_token %}
                <div class="row mb-4">
                  {% if form.username.errors %}
                    <p style="color: red; font-size: 20px;">This login doesn't exist</p>
                  {% elif form.password.errors %}
                    <p style="color: red; font-size: 20px;">Sorry, wrong password!</p>
                  {% endif %}
                  <label for="usernameInput" class="col-sm-3 col-form-label" style="font-size: 20px;">Login</label>
                  <div class="col-sm-5">
                    <input id="usernameInput" name="username" class="form-control" maxlength="100" style="font-size: 20px;" placeholder="Enter your login here">
                  </div>
                </div>
                <div class="row mb-4">
                    <label for="passwordInput" class="col-sm-3 col-form-label" style="font-size: 20px;">Password</label>
                    <div class="col-sm-5">
                      <input id="passwordInput" name="password" type="password" class="form-control" maxlength="30" style="font-size: 20px;" placeholder="Enter your password here">
                    </div>
                  </div>
                <div class="row mb-5">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-5">
                        <button class="btn btn-primary  mb-4" type="submit" style="height: 50px; width: 100px; font-size: 20px;">Log in</button>
                        <div style="margin-bottom: 100%;"><a style="font-size: 20px;" href="{% url "signup" %}">Create new account</a></div>
                    </div>
                </div>
            </form>
        </div>

{% endblock content %}
