{% extends "layouts/base.html" %}
{% load static %}

      {% block content %}
      <main class="container-fluid container-lg mt-3">
        <div class="row gap-4">
          <div class="col-8">
            <article class="mb-3 mt-3">
              <div class="row g-0">
                <div class="col-4 p-2">
                  <div class="border mb-3 rounded">
                      <img src="{% static "pic/question_pic_placeholder.jpg" %}" class="img-fluid rounded" style="flex: auto;">
                  </div>
                  <div class="input-group " style="width: fit-content;">
                    <input type="number" class="form-control" value="{{question.likes}}"  onkeydown="return false;" style="caret-color: transparent;">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" >Submit</button>
                  </div>
                </div>
                <div class="col-8">
                  <div class="ms-3" >
                      
                    <h5 style="font-size: 30px;"> {{question.title}}</h5>
                    <p style="font-size: 17px;">{{question.text}}</p>
                    
                    <div class="row-1" style=" font-size: 19px; ">
                      <span >Tags:</span>
                      {% for tag in question.tags.all %}
                      <a href="{% url "tag" tag.name %}">{{tag.name}}</a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </article>
          {% if answers %}
            <div class="mt-4 mb-4">  
              <hr>
            </div>
            
          {% for answer in answers%}
            {% include "layouts/answers.html"%}
          {%endfor%}
          {% endif %}
        </div>
            {% endblock content %}
            {% block pagination %}
            {% if answers %}
              {% include "layouts/pagination.html" with current_url="question" page_obj=answers addititional_url=question.id%}
            {% endif %}
            <div class="col-8 mt-4 mb-4">
            <hr class="mb-4">
            {% if form.text.errors %}
              <p style="color: red; font-size: 20px;">Answer can't be empty</p>
            {% endif %}
              <form action="" method="post">
                {% csrf_token %}
                <textarea id="textInput" name="text" class="form-control" style="height: 200px; resize: none; font-size: 20px;" maxlength="300" placeholder="Write your answer here"></textarea>
                <button type="submit" class="btn btn-primary mt-3" style="height: 50px; width: 100px; font-size: 20px;">Answer</button>
              </form>
            </div>
            {% endblock pagination %}


      