{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<main class="container-lg mt-3">
    <div class = "d-flex gap-3">
        <h1>Registration </h1>
    </div>

    <div class="row  gap-4">
        <div class="col-8 mt-2">
            <form>
                <p style="color: red; font-size: 20px;">Sorry, passwords don't match</p>
                <div class="row mb-4">
                  <label for="inputEmail3" class="col-sm-3 col-form-label" style="font-size: 20px;">Login</label>
                  <div class="col-sm-5">
                    <input class="form-control" maxlength="100" style="font-size: 20px;" placeholder="Max length is 30">
                  </div>
                </div>
                <div class="row mb-4">
                    <label for="inputEmail3" class="col-sm-3 col-form-label" style="font-size: 20px;">Email</label>
                    <div class="col-sm-5">
                      <input class="form-control" maxlength="30" style="font-size: 20px;" placeholder="example@mail.ru">
                    </div>
                  </div>
                <div class="row mb-4">
                  <label for="inputEmail3" class="col-sm-3 col-form-label" style="font-size: 20px;">Password</label>
                  <div class="col-sm-5">
                    <input type="password" class="form-control" maxlength="30" style="font-size: 20px;" placeholder="Max length is 30">
                  </div>
                </div>
                <div class="row mb-4">
                    <label for="inputEmail3" class="col-sm-3 col-form-label" style="font-size: 20px;"> Repeat password</label>
                    <div class="col-sm-5">
                      <input type="password" class="form-control" maxlength="30" style="font-size: 20px;" placeholder="Max length is 30">
                    </div>
                  </div>
                <div class="row mb-5">
                    <label for="formFile" class="col-sm-3 form-label " style="font-size: 20px;"> Upload avatar</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="file" id="formFile">
                        <button class="btn btn-primary mt-4 mb-5" style="height: 50px; width: 100px; font-size: 20px;">Register</button>
                        <div style="margin-bottom: 44%"></div>
                    </div>
                </div>
            </form>
        </div>
{% endblock content %}