{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
      <main class="container-fluid container-lg mt-3">
        <div class = "d-flex gap-3 align-items-center">
            <h1> Tag:  {{tag_name}}</h1>
        </div>


        <div class="row gap-4">
          <div class="col-8 ">
        {% for question in questions %}
                {% include "layouts/question.html" %}
        {% endfor %}

                
            </div>
          
            {% endblock  %}
            {% block pagination %}
              {% include "layouts/pagination.html" with page_obj=questions current_url="tag" addititional_url=tag_name%}
            {% endblock pagination %}