<!DOCTYPE html>
<html lang = "eu">
<head>
    <meta charset="UTF-8">
    <title>ASK ME</title>
    <link rel="stylesheet" href="..\static\css\index.css">;
</head>
<body>
<header class = "header">
    <div class = "logo">ASK Black</div>

    <div class="search">
        <input type="text" class="search_input">
        <button class = "search_button">ASK</button>
    </div>

    <div class="account">
        <div>
            <img src = "img.jpg" class = "account_img">
        </div>
        <div class="account_content">
            <div>BLACK</div>
            <div>
            <a href="/settings.html">Settings</a>
            <a href="/logout.html">log out</a>
        </div>
    </div>
</header>

<main class = "container">
    <div class = "heading">
        <h1> NEw quest</h1>
        <a href="/hot.html">YOOT</a>
    </div>

    <div class="content">
        <section class="cards">
            <article class = "card">
                <div class="card_side">
                    <img src="img.jpg" alt=""/>
                    <input type="number" value="5" />
                </div>
                <div class="card_content">
                    <div class="card_body">
                        <h5><a href="/question.html"> question</a></h5>
                        <div>
                            nigggerasdkas
                            sadaskndnas
                            askdnjnsdjn
                            korolevich
                        </div>
                    </div>
                    <div class="card_footer">
                        <a href="/question.html"> answers</a>
                        <div class="card_tags">
                            <span>Tags</span>
                            <a href="/tag.html">tag</a>
                        </div>
                    </div>
                </div>
                
            </article>
            <article class="card">
                <div class="card_side">
                    <img src="img.jpg">
                </div>
            </article>

        </section>
    </div>
</main>

</body>
</html>